# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Editor/IDE files
.idea/
.vscode/
*.swp

# Build artifacts (PyInstaller)
build/
dist/
*.spec

# Runtime logs
app.log

# User Configuration (Optional - exclude if you want specific user settings ignored)
# config.json

# Excel Exports
*.xlsx
